.botao{
    background-color: var(--cor-primaria);
    color:var(--cor-texto-contraste);
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.25rem;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    cursor:pointer;
    transition: filter 0.3s ease, transform 0.3s ease;
}
.botao:hover{
    filter: brightness(0.8);
    transform: scale(1.02);
}

.botao:disabled{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-secundario);
    cursor: not-allowed;
    filter: none;
}