.container{
width: 100%;
max-width: 50rem;
margin:0 auto;
padding: 1.25rem;
display: flex;
flex-direction: column;
gap:1.875rem;
background-color: var(--cor-primaria);
color: var(--cor-texto-contraste);/*30px, cria um respiro automático entre as seções/
}
/*Media query para telas menores (ex: dispositivos móveis até 600px)*/
}
@media (max-width: 37.5rem){
.container {
    padding:1rem;
    gap:1.25rem;
    }
}