.listaContainer{
    background-color: #ffff;
    padding: 1.25rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);

}

.titulo{
    color: var(--cor-primaria);
    margin-bottom: 1.25rem;

}
.buscarContainer{
  margin-bottom: 1.25rem;
}

.tabela{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    
  
}
.tabela th, .tabela td{
    padding: 0.625rem;
    border-bottom: 0.1rem solid var(--cor-divisor);

}

.tabela th{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-secundario);
    border-bottom: 2px solid var(--cor-divisor);
}

.actionButton{
   margin-right: 0.625rem;
   cursor: pointer;
    background-color: pink;
   border: none;
   transition: filter 0.3s ease;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   color: var(--cor-primaria);
   padding: 0.35rem;
   min-width: 2rem;
   min-height: 2rem;
   border-radius: 999px;
}

.actionButton:hover{
    filter: brightness(0.8);
}

.actionButton span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btnExcluir{
    color: var(--cor-erro);
}

.estiloSelect{
    padding: 0.265rem;
    border-color: var(--cor-divisor);
}