.input{
    width: 100%;
    padding: 0.625rem;
    border: 1px solid var(--cor-divisor);
    font-family: var(--fonte-padrao);
    color: var(--cor-texto-principal);
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.input:focus{
    outline:none;
    border-color: var(--cor-primaria);
    box-shadow: 0 0 0 2px var(--cor-primaria-clara);
}

.input:disabled{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-secundario);
    cursor: not-allowed;
}
